@{
    ViewData["Title"] = "Home Page";
    
    
}
@section css{
    <link href="~/css/landing.css" rel="stylesheet" />
}
<script>
    new WOW().init();
</script>

<!-- Modal -->
<div class="modal fade" id="buyModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div id="buyModalBody" class="modal-body">
                <div class="row">
                    <div class="col-xs-12">

                        <div class="col-xs-6">
                            <h5>enter your zip</h5>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p>
                                <span class="glyphicon glyphicon-arrow-left hidden" style="padding-right: 10px; font-size: 0.75em;"></span>
                                1 / 5
                                <span class="glyphicon glyphicon-arrow-right" style="padding-left: 10px; font-size: 0.75em;"></span>
                            </p>
                        </div>

                        <div class="col-xs-12">
                            <hr />
                        </div>

                        <div class="col-xs-12">

                            <form asp-action="ClientFormZip">
                                <div class="form-horizontal">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group text-center">
                                        <label class="col-md-12">Zip Code</label>
                                        <div class="col-xs-12">
                                            <input type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group text-center">
                                        <div class="col-xs-12">
                                            <input type="submit" value="Next" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>

<div class="row" id="landing-row">
    <div class="col-xs-12 text-center" style="padding-top: 50px;">

        <a class="btn btn-dark btn-landing wow zoomIn" style="width: 140px;" data-toggle="modal" data-target="#buyModal">
            <span class="glyphicon glyphicon-home" style="font-size: 2.5em; margin: 5px;"></span>
            <br />
            Buy
        </a>
        <a class="btn btn-dark btn-landing wow zoomIn disabled" style="width: 140px;">
            <span class="glyphicon glyphicon-usd"  style="font-size: 2.5em; margin: 5px;"></span>
            <br />
            Sell
        </a>
        <a class="btn btn-dark btn-landing wow zoomIn disabled" style="width: 140px;">
            <span class="glyphicon glyphicon-resize-horizontal"  style="font-size: 2.5em; margin: 5px;"></span>
            <br />
            Both
        </a>

    </div>

</div>

<div class="row">
    <div class="col-xs-12">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <div class="col-xs-12 wow fadeInUp">
            <h2 class="text-center">what is surefinder?</h2>
            <br />
        </div>

        <div class="col-xs-12 col-md-6">
            
            <div class="col-xs-12 ">
                <div class="iframe-wrapper">
                    <iframe src="https://player.vimeo.com/video/227768062" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>         
            </div>
        </div>

        <div class="col-xs-12 col-md-6">

            <div class="col-xs-12 text-center">
                <br />
                <br />
                <br />
                <h5>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </h5>
                <br />
                <br />
            </div>
        </div>


    </div>

</div>

<div class="row">
    <div class="col-xs-12">
        <br /><br />
    </div>
</div>

<div class="row row-background">
    <div class="col-xs-12">
        <div class="col-xs-12 col-md-10 col-md-offset-1">

            <div class="col-xs-12 col-md-4">

                <!--Image Card-->
                <div class="card hoverable wow zoomIn">
                    <div class="card-image">
                        <div class="view overlay hm-white-slight z-depth-1">
                            <img src="~/images/house1.jpg" class="img-responsive" alt="">
                            <a href="#">
                                <div class="mask waves-effect"></div>
                            </a>
                        </div>
                    </div>
                    <div class="card-content">
                        <h5>Card title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id amet, quisquam modi nobis nostrum iusto incidunt dolore assumenda delectus officia quia, sequi eum perspiciatis architecto. Ullam voluptatum, facere nihil quidem.</p>
                    </div>
                </div>
                <!--Image Card-->

            </div>

            <div class="col-xs-12 col-md-4">

                <!--Image Card-->
                <div class="card hoverable wow zoomIn">
                    <div class="card-image">
                        <div class="view overlay hm-white-slight z-depth-1">
                            <img src="~/images/house2.jpg" class="img-responsive" alt="">
                            <a href="#">
                                <div class="mask waves-effect"></div>
                            </a>
                        </div>
                    </div>
                    <div class="card-content">
                        <h5>Card title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id amet, quisquam modi nobis nostrum iusto incidunt dolore assumenda delectus officia quia, sequi eum perspiciatis architecto. Ullam voluptatum, facere nihil quidem.</p>
                    </div>
                </div>
                <!--Image Card-->

            </div>

            <div class="col-xs-12 col-md-4">

                <!--Image Card-->
                <div class="card hoverable wow zoomIn">
                    <div class="card-image">
                        <div class="view overlay hm-white-slight z-depth-1">
                            <img src="~/images/house3.jpg" class="img-responsive" alt="">
                            <a href="#">
                                <div class="mask waves-effect"></div>
                            </a>
                        </div>
                    </div>
                    <div class="card-content">
                        <h5>Card title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id amet, quisquam modi nobis nostrum iusto incidunt dolore assumenda delectus officia quia, sequi eum perspiciatis architecto. Ullam voluptatum, facere nihil quidem.</p>
                    </div>
                </div>
                <!--Image Card-->

            </div>



        </div>
    </div>
</div>

<div class="row landing-form-row" style="padding: 15px;">
    <div class="col-xs-12">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
            <h5>
                
            </h5>

        </div>
    </div>
   
</div>